{:kotoba.app/id "cloud.itonami.isic-4220", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicochz45oukbsp2jo5bg45vqahb2xyluchddknmldkrm6qohhn3qe", :kotoba.app/embed-url "ipfs://bafkreicochz45oukbsp2jo5bg45vqahb2xyluchddknmldkrm6qohhn3qe", :published {:archive "https://kotobase.net/ipfs/bafkreicochz45oukbsp2jo5bg45vqahb2xyluchddknmldkrm6qohhn3qe", :size 72762, :put-status 201, :get-status 200, :at "2026-08-15T13:44:04.104Z"}}
